@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Tajawal:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}


/* input:-webkit-autofill {
    -webkit-backgroud-color: white !important;
  }
  .error{
      color:red;
  } */

 :root {
    --light: #ecf1f4;
    --white: #FFFFFF;
    --dark_blue: #023047;
    --light_blue: #8ECAE6;
    --beauty: #219EBC;
}


/* complete content  */

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 77px;
    height: 77px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}

.profile-pic .-label {
    cursor: pointer;
    height: 77px;
    width: 77px;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}

.input-group-append {
    cursor: pointer;
}

.up {
    padding: 20px;
    margin-top: 12vh;
    margin-bottom: 5vh;
}

.img-squares_4 {
    width: 492px;
    height: 212px;
    position: absolute;
    bottom: 49%;
    left: 393px;
    z-index: -1;
}

.img-squares_5 {
    width: 492px;
    height: 212px;
    position: absolute;
    top: 12px;
    right: 267px;
    z-index: -1;
}

@media (min-width:400px) and (max-width:900px) {
    .img-squares_4 {
        visibility: hidden;
    }
    .img-squares_5 {
        visibility: hidden;
    }
}

​ .custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #d5ebf6;
    cursor: pointer;
}

.custom-file-button label {
    background-color: #d5ebf6;
    cursor: pointer;
    border-radius: 0px;
}


/* btn */

.show_more {
    font-size: 14px;
    padding: 2px 8px 2px;
    outline: 0;
    border: 1px solid #186d80;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    width: 93px;
}

.show_more:after {
    content: "";
    background-color: var(--light_blue);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.show_more:hover:after {
    top: 0px;
    left: 0px;
}

.btn-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


/************/

button:focus {
    outline: none;
}

.form_con {
    max-width: 42rem;
}

.shadow-lg {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.175)!important;
}