@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
:root {
    --light: #ecf1f4;
    --white: #FFFFFF;
    --dark_blue: #023047;
    --light_blue: #8ECAE6;
    --beauty: #1c829a;
}

.p-relative {
    position: relative;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark_blue);
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

.gold {
    color: goldenrod;
    fill: goldenrod;
}


/*__________________ nav^_^ _____________________*/

.hero_section {
    background-color: var(--light);
}

.hero_section nav {
    height: 5rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: var(--light);
    background-color: #ecf1f48f;
    align-items: center;
    top: 0;
}


/* Styling Logo*/

.logo {
    /* padding: 3vh 3vw;
    text-align: left;
    width: 20vw; */
    padding: 3vh 7vw;
    /* text-align: left; */
}

.logo img {
    height: auto;
}


/* Styling Navigation Links*/

.nav-links {
    width: 80vw;
    display: flex;
    justify-content: end;
    padding: 3vh 6vw;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 600;
}

.nav-links li>a {
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
    color: var(--dark_blue);
}

.nav-links li>a:hover {
    color: var(--light);
    background-color: var(--beauty);
    padding: 5x;
    border-radius: 50px;
    margin-left: 2vw;
    border: 1.5px solid var(--light);
    border-radius: .25rem;
    height: 34px;
}

.btn_img:hover {
    background: var(--beauty);
    border-radius: 0.25rem;
    width: 65px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    margin-left: 2vw;
    border: 1.5px solid var(--light);
    border-radius: .25rem;
}

.nav-links li {
    position: relative;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Buttons Styling*/

.login-button {
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    background-color: #c5090900;
    border: 1.5px solid var(--light);
    border-radius: 12px;
    color: var(--light);
    background-color: var(--light_blue);
}

.login-button:hover {
    color: var(--dark_blue);
    background-color: var(--light_blue);
    transition: all ease-in-out 350ms
}


/*Navigation Icon Styling*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--beauty);
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
        background-color: #ecf1f4cf;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        left: 8%;
        top: 44%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
        z-index: 2000;
    }
    .nav-links {
        background: var(--light);
        position: fixed;
        opacity: 1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
        z-index: 1000;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
    /* Navigation Bar Icon on Click*/
    .toggle .bars1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .bars2 {
        transition: all 0s ease;
        width: 0;
    }
    .toggle .bars3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/*__________________ hero^_^ _____________________*/

.hero {
    background-color: var(--light);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20vh;
    padding-right: 70px;
    padding-left: 26vh;
    align-items: center;
}

.container_img {
    text-align: end;
}

.container_img img {
    width: 337px;
}


/*___________________type effict ^_^*/

.container_text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.container_text h1:nth-child(1) {
    color: var(--beauty);
    font-weight: 800;
    font-size: 20px;
    margin: 0 0 0 35%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
    animation: type 2s steps(40, end) forwards;
}

.container_text h1:nth-child(2) {
    opacity: 0;
    margin: 0 auto auto auto;
    background: linear-gradient(to right, var(--beauty), var(--beauty), #176c807d);
    font-weight: 800;
    font-size: 100px;
    width: 430px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #881d1d00;
    overflow: hidden;
    animation: shring-animation 2.2s steps(40, end) 2s forwards, blink .5s step-end infinite alternate;
}

.container_text h4:last-child {
    width: 300px;
    /* line-height: 34px; */
    margin-top: 26px;
    /* line-height: 34px; */
    margin-top: 26px;
    padding-right: 91px;
}

@keyframes shring-animation {
    0% {
        background-position: 0 0;
        opacity: 0;
        width: 0;
    }
    1% {
        background-position: 0 0;
        opacity: 1;
        border-left: 1px solid var(--light_blue);
    }
    50% {
        background-position: 150px 0;
        opacity: 1;
        border-left: 1px solid var(--light_blue);
    }
    100% {
        background-position: 400px 0;
        opacity: 1;
        border-left: 1px solid var(--light_blue);
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    1%,
    99% {
        border-left: 1px solid var(--light_blue);
    }
    100% {
        border-right: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
}


/*________________description__________________*/

.desc {
    background-image: url(../svg/undraw_thought_process_re_om58.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 3%;
}

.desc>div:first-child {
    text-align: center;
    padding-top: 45px;
}

.How_to_Start {
    display: flex;
    text-align: center;
    padding: 7vh 11vh;
    gap: 3pc;
    flex-wrap: wrap;
    justify-content: center;
}

.How_to_Start>div {
    width: 244px;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 9px;
    padding: 25px 1px;
}

.How_start_icon {
    background: url(../svg/Rectangle97.svg);
    height: 155px;
    width: 153px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.7pc;
    background-size: contain;
    background-repeat: no-repeat;
}

.How_start_icon1 {
    background: url(../svg/100.svg);
}

.How_start_icon2 {
    background: url(../svg/98.svg);
}

.How_start_icon3 {
    background: url(../svg/99.svg);
}

.How_to_Start>div>div {
    display: grid;
    gap: 13px;
    line-height: 1.7rem;
}

.How_to_Start>div>div p {
    color: var(--dark_blue);
}


/********lets_start_project*******/

.lets_start_project {
    display: grid;
    gap: 33px;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: var(--light);
    font-size: 1.8rem;
    margin: 3% auto;
    height: 304px;
    border-radius: 9px;
    text-align: center;
}

.lets_start_project>div:first-child {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 33px;
    color: var(--beauty);
}


/*________add your project button_______*/

.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1em 3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--beauty);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
}

.button:hover {
    background: rgba(100, 0, 0, 0.03);
}

.button__horizontal,
.button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}

.button__horizontal::before,
.button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
}

.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid var(--light_bleu);
    border-bottom: var(--border-size) solid var(--light_blue);
}

.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
    transform: scaleX(0);
}

.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid var(--light_blue);
    border-right: var(--border-size) solid var(--light_blue);
}

.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
    transform: scaleY(0);
}


/*_____________footer__________*/

.footer {
    background-color: #004658;
    color: #fff;
}

.footer_content {
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 34px 13px;
    color: var(--dark_blue);
    gap: 18px;
    padding-right: 124px;
}

.footer_content>div {
    width: 240px;
    margin-bottom: 12px;
}

.footer_content h4 {
    color: var(--light_blue);
    font-size: 17px;
    font-weight: 900;
    line-height: 31px;
}

.footer_content ul {
    list-style-type: none;
}

.footer_content ul li a {
    color: var(--light);
    text-decoration: none;
    font-size: 14px;
}

.footer_content li {
    margin-top: 5px;
}

.footer_content li a:hover {
    color: #00bef0;
}

.footer_copy_right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    padding: 1px 1px 23px;
}

.footer_copy_right p {
    color: var(--light);
    font-size: 14px;
}

.footer_copy_right span {
    font-size: 23px;
    font-weight: 900;
    color: #2097b4;
}


/*********social media box*****************/

.svg-container {
    width: 33px;
    justify-content: center;
    /* padding: 8px; */
    position: fixed;
    top: 259px;
    left: 0px;
    align-items: center;
    text-align: center;
    z-index: 1;
}

footer .soc_container {
    display: none;
}

.svg {
    width: 100%;
    height: 100%;
    padding: 12px 6px;
    cursor: pointer;
    fill: var(--white);
    width: 34px;
}

.svg:hover {
    background-color: rgb(79, 119, 192);
    filter: drop-shadow(6px 4px 3px var(--main));
    transform: translate(10px, 10px);
    border-radius: 9px;
    width: 53px;
}

.svg:first-child {
    background-color: rgb(79, 119, 192);
}

.svg:nth-child(2) {
    background-color: rgb(27, 190, 224);
}

.svg:nth-child(3) {
    background-color: rgb(210, 63, 54);
}

.svg svg:hover {
    fill: var(--active);
    transform: scale(1.3);
    filter: brightness(0.5);
}

.svg .social {
    font-size: 1.3rem;
    color: white;
}

@media screen and (max-width: 800px) {
    .svg-container {
        width: 38px;
        display: flex;
        gap: 8px;
        padding: 7px 39px;
        display: none;
    }
    footer .soc_container {
        display: grid;
    }
    footer .svg-container {
        display: grid;
        position: static;
        display: flex;
        gap: 12px;
    }
    .svg:first-child {
        background-color: transparent;
    }
    .svg:nth-child(2) {
        background-color: transparent;
    }
    .svg:nth-child(3) {
        background-color: transparent;
    }
}


/**about**/

.about_container {
    display: flex;
    height: 270px;
    padding-top: 12vh;
    padding-bottom: 6vh;
}

.elo_about {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 320px;
    background-position: top left;
    position: relative;
}

.rec1,
.rec2 {
    height: 109px;
    width: 135px;
    background-color: #186d80;
    position: absolute;
    left: -69px;
    border-radius: 9px;
}

.rec1 img {
    height: 134px;
    position: absolute;
    top: -25px;
}

.rec2 {
    background-color: #d5ebf6;
    right: 23px;
    border-radius: 9px;
    bottom: 1px;
}

.rec2 img {
    position: absolute;
    height: 131px;
    bottom: -109px;
    left: 5px;
}

.rec2 .msg_about {
    position: absolute;
    background: #f0f8ff70;
    font-size: 12px;
    height: 33px;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    right: 97px;
    border-radius: 40px;
    top: -67px;
    width: 101px;
    border-bottom-right-radius: 1px;
}

.rec1 .msg_about {
    position: absolute;
    left: 138px;
    bottom: 102px;
    background: #186d8061;
    font-size: 12px;
    height: 33px;
    text-align: center;
    padding: 12px;
    border-radius: 40px;
    width: 101px;
    border-bottom-left-radius: 1px;
}

.rec3 {
    background-color: #ecf1f4;
    width: 300px;
    height: 143px;
    position: absolute;
    left: -369px;
    top: 124px;
    border-radius: 9px;
}

.rec3 .text {
    font-size: 14px;
    padding: 16px;
}


/*************/

.img_profile {
    height: 34px;
    width: 34px;
    overflow: hidden;
    background-image: url(../svg/enLogo.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.img_profile img {
    height: inherit;
    width: inherit;
}