.img_project {
    height: 127px;
    max-width: 22rem;
    overflow: hidden;
    background: url(../svg/bag.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 39px;
}

.img_project img {
    height: inherit;
    width: inherit;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 38px;
    width: calc(100% - 332px);
    background-color: transparent;
    transition: var(--tran-05);
    background-image: url(../svg/enLogo.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 13rem;
}

.home .page_title {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_blue);
    padding: 64px 0px 6px;
}

.home .page_title .title {
    height: 42px;
    background-color: #eff6f7ba;
    position: relative;
    padding-right: 12px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 160px);
}

body.dark .home .text {
    color: var(--text-color);
}

.d_position {
    position: absolute;
    top: 0;
    left: 0;
}


/********card container****/

.shadow {
    border-radius: 0.25rem;
}

.porto_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.porto {
    width: 23rem;
    background: #ffffff;
    ;
    padding: 22px;
    position: relative;
    margin-top: 12px;
    min-height: 159px;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* text-align: end; */
}

.img_container {
    width: 106px;
    text-align: end;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.phone {
    font-size: 12px;
    padding-right: 12px;
    color: #808080ab;
}

.personal_desc {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.personal_desc .title_desc {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.personal_desc .title_desc span {
    max-width: 371px;
    text-align: center;
}

.desc {
    padding: 12px 0px;
    font-size: 14px;
    color: gray;
}

.edit {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 31px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.edit a {
    background: var(--beauty);
    height: 31px;
    width: 98px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.25rem;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.edit a .bx {
    font-size: 18px;
}

.edit .bx {
    color: white;
}

.time {
    color: gray;
}

.details {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--beauty);
}

.myproject_count {
    height: 23px;
    width: 36px;
    background: #c4e1ee;
    position: absolute;
    border-radius: 0.25rem;
    top: -9px;
    color: var(--beauty);
    text-align: center;
}

.p_relativ {
    position: relative;
}

.offer {
    color: var(--rbeauty);
    font-size: 14px;
}

@media (max-width:8000px) {
    .home {
        width: calc(100% - 165px);
    }
}


/**scroll*****/