@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Tajawal:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}


/* input:-webkit-autofill {
    -webkit-backgroud-color: white !important;
  }
  .error{
      color:red;
  } */

label {
    /* display: none; */
}

 :root {
    --light: #ecf1f4;
    --white: #FFFFFF;
    --dark_blue: #023047;
    --light_blue: #8ECAE6;
    --beauty: #219EBC;
}

 :root {
    --basic2: #03e9f4;
}

.loginContainer {
    position: relative;
    left: 0;
    font-family: sans-serif;
    background: var(--light);
    direction: ltr;
    height: 100%;
    width: 100%;
    /* background-image: url(../svg/enLogo.svg);
     background-repeat: no-repeat; */
}

.img-squares {
    width: 630px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url(../svg/enLogo.svg);
    background-repeat: no-repeat; */
}

.img-squares img {
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 100%;
    display: flex;
    /* align-items: center; */
    margin-bottom: 14px;
    justify-content: center;
}

.verfy .login-box {
    width: 400px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    /* background: var(--beauty); */
    background: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.loginContainer .rest-box {
    margin-bottom: 35px;
}

.sign-up {
    width: 400px;
    padding: 20px 50px;
}

.sign-up-container .img-squares {
    width: 710px;
    top: 48%;
    left: 48%;
}

.login_icon_box {
    background-color: var(--light);
    text-align: center;
    width: 77px;
    height: 77;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 1px #ecf1f47d;
    /* position: relative;
    right: 126px;*/
    top: -10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    /* color: #fff; */
    color: var(--dark_blue);
    text-align: center;
    font-size: 25;
    font-weight: bold;
}

.login-box .user-box {
    position: relative;
}

.form-control {
    border-radius: 0!important;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    /* color: #fff; */
    color: var(--dark_blue);
    border: none;
    /* border-bottom: 1px solid #fff; */
    border-bottom: 1.3px solid gray;
    margin-bottom: 19px;
    /* outline: none; */
    background: transparent;
    outline: none;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    font-size: 12px;
    color: gray;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    /* color: var(--basic2); */
    color: var(--dark_blue);
    font-size: 12px;
}

.login-box form input[type='submit'] {
    width: 100px;
    height: 23px;
}

a {
    color: white;
    text-decoration: none;
}

.login_links {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    align-items: center;
}

.login_links .btn {
    position: relative;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    text-align: center;
    padding: 6px 8px;
    width: 116px;
    /* color: white; */
    color: var(--dark_blue);
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: white;
    transition-delay: .5s;
    background-color: var(--beauty);
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--basic2);
    transition-delay: .35s;
}


/* From Top */

.from-top:before,
.from-top:after {
    left: 0;
    height: 0;
    width: 100%;
}

.from-top:before {
    bottom: 0;
    border: 1px solid var(--basic2);
    border-top: 0;
    border-bottom: 0;
    color: white;
}

.from-top:after {
    top: 0;
    height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
    height: 100%;
}


/**********************/

.btn-cont .btn {
    border: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    margin-top: 8px;
    width: 100px;
    /* padding: 40px; */
    /* background: var(--light); */
    background: var(--beauty);
    box-sizing: border-box;
    box-shadow: 0 15px 25px #6f73766e;
    border-radius: 3px;
    height: 40px;
    border: 1px solid white;
    width: 100%;
    /* color: var(--beauty); */
    color: white;
    transition: all .5s;
    font-weight: 800;
    font-size: 16px;
}

.btn-cont .btn:hover {
    border: none;
    /* background-color: #a9c0c6; */
    /* background-color: var(--light_blue); */
    color: var(--white);
}

.btn-cont .btn:hover .line-1 {
    -webkit-animation: move1 1500ms infinite ease;
    animation: move1 1500ms infinite ease;
}

.btn-cont .btn:hover .line-2 {
    -webkit-animation: move2 1500ms infinite ease;
    animation: move2 1500ms infinite ease;
}

.btn-cont .btn:hover .line-3 {
    -webkit-animation: move3 1500ms infinite ease;
    animation: move3 1500ms infinite ease;
}

.btn-cont .btn:hover .line-4 {
    -webkit-animation: move4 1500ms infinite ease;
    animation: move4 1500ms infinite ease;
}

.btn-cont .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: var(--light);
    left: 0;
    bottom: 0;
}

.btn-cont .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--light);
    left: 0;
    top: 0;
}

.btn-cont .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: var(--light);
    right: 0;
    top: 0;
}

.btn-cont .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--basic2);
    right: 0;
    bottom: 0;
}

@-webkit-keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }
    54% {
        height: 0;
        bottom: 100%;
    }
    55% {
        height: 0;
        bottom: 0;
    }
    100% {
        height: 100%;
        bottom: 0;
    }
}

@-webkit-keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@-webkit-keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }
    54% {
        height: 0;
        top: 100%;
    }
    55% {
        height: 0;
        top: 0;
    }
    100% {
        height: 100%;
        top: 0;
    }
}

@-webkit-keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }
    55% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}


/************/

.forget .user-box input {
    padding: 24px 0;
    outline: none;
}

.forget .user-box p {
    color: white;
}

a {
    color: white;
}


/************/

.verfy {
    color: var(--beauty);
}

.verfy button {
    text-decoration: none;
    background-color: #186d80;
    color: #e9eff0;
    height: 44px;
    width: 100%;
}

.verfy button:hover {
    background-color: var(--light_blue);
    color: var(--light);
}

.dan_mesg_po {
    /* color: var(--dark_blue); */
    color: red;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: none;
    box-shadow: 0 0 0 0.25rem none;
}


/* profile */